{% extends "layout.html" %}
{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Se connecter</div>
      <div class="card-body">
        <form method="POST">
          <div class="mb-3">
            <label>Utilisateur :</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label>Mot de passe :</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
